.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.main > * {
	margin-bottom: 50px;
}
